{:deps {org.foundationdb/fdb-java {:mvn/version "7.1.42"}}

 :aliases {:test {:extra-paths ["test"]}
           :kaocha {:extra-paths ["test"]
                    :main-opts ["-m" "kaocha.runner" "--focus" ":unit"]
                    :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
           :kaocha-fdb {:extra-paths ["test"]
                        :main-opts ["-m" "kaocha.runner" "--focus" ":fdb"]
                        :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}}}