#kaocha/v1
 {:tests                       [{:type :kaocha.type/clojure.test
                                 :id   :unit
                                 :skip-meta [:foundation]
                                 :ns-patterns   ["-test$"]
                                 :source-paths  ["src"]
                                 :test-paths    ["test"]}
                                {:type :kaocha.type/clojure.test
                                 :id   :fdb
                                 :focus-meta [:foundation]
                                 :ns-patterns   ["-test$"]
                                 :source-paths  ["src"]
                                 :test-paths    ["test"]}]
  :fail-fast?                  false
  :color?                      true
  :reporter                    [kaocha.report/dots]
  :plugins                     [:kaocha.plugin/randomize
                                :kaocha.plugin/filter
                                :kaocha.plugin/capture-output
                                :kaocha.plugin/profiling]
  :kaocha.plugin.randomize/seed       950716166
  :kaocha.plugin.randomize/randomize? true
  :kaocha.plugin.profiling/count      3
  :kaocha.plugin.profiling/profiling? true}